<div style="text-align:center">
  <h1>Switchboard</h1>
  <div class="switches">
    <button (click)="onClick(0)" [ngClass]="buttons_class[0]">{{(buttons[0]===1)?'On':'Off'}}</button>
    <button (click)="onClick(1)" [ngClass]="buttons_class[1]">{{(buttons[1]===1)?'On':'Off'}}</button>
    <button (click)="onClick(2)" [ngClass]="buttons_class[2]">{{(buttons[2]===1)?'On':'Off'}}</button>
    <button (click)="onClick(3)" [ngClass]="buttons_class[3]">{{(buttons[3]===1)?'On':'Off'}}</button>
    <button (click)="onClick(4)" [ngClass]="buttons_class[4]">{{(buttons[4]===1)?'On':'Off'}}</button>
    <button (click)="onClick(5)" [ngClass]="buttons_class[5]">{{(buttons[5]===1)?'On':'Off'}}</button>
    <button (click)="onClick(6)" [ngClass]="buttons_class[6]">{{(buttons[6]===1)?'On':'Off'}}</button>
    <button (click)="onClick(7)" [ngClass]="buttons_class[7]">{{(buttons[7]===1)?'On':'Off'}}</button>
    <button (click)="onClick(8)" [ngClass]="buttons_class[8]">{{(buttons[8]===1)?'On':'Off'}}</button>
    <button (click)="onClick(9)" [ngClass]="buttons_class[9]">{{(buttons[9]===1)?'On':'Off'}}</button>
  </div>
</div>