<html>
<body>
    <h2>Submitted Information</h2>
    <label>Name: <%= user.name %></label>
    <label>Location: <%= user.location %></label>
    <label>Language: <%= user.language %></label>
    <label>Comment: <%= user.comment %></label>
</body>
</html>