table {

    border-collapse: collapse;
    display: block;
    width: 50%;
}
th, td {
    text-align: left;
    padding: 8px;
}
tr:nth-child(even){background-color: #f2f2f2}
th {
    background-color: darkslateblue;
    color: white;
}
.wrapper { 
    text-align:center;
    align-content: center;
}