<body>
  <h2>Welcome to {{title}}</h2>
  <div class="bar-code">
    <span [ngStyle]="{'background-color': rand_color() }">One</span>
    <span [ngStyle]="{'background-color': rand_color()}">Two</span>
    <span [ngStyle]="{'background-color': rand_color()}">Three</span>
    <span [ngStyle]="{'background-color': rand_color()}">Four</span>
    <span [ngStyle]="{'background-color': rand_color()}">Five</span>
    <span [ngStyle]="{'background-color': rand_color()}">Six</span>
    <span [ngStyle]="{'background-color': rand_color()}">Seven</span>
    <span [ngStyle]="{'background-color': rand_color()}">Eight</span>
    <span [ngStyle]="{'background-color': rand_color()}">Nine</span>
    <span [ngStyle]="{'background-color': rand_color()}">Ten</span>
  </div>
</body>
