<html>
    <head>

    </head>
    <body>
        <h3>hello</h3>
        <img src="/images/coonkitten.jpg" alt="fuzzy-wild-kitten">
        <img src="/images/scuba.jpg" alt="round-faced-cat">
    </body>
</html>