<html>
    <style>
        a{
            height: 100px;
            width: auto;
        }
    </style>
    <body>
        <h3>EJS Cats</h3>
        <a href="coonkitten" ><img src="/images/coonkitten.jpg" alt="fuzzy-wild-kitten"></a>
        <a href="/scuba" ><img src="/images/scuba.jpg" alt="round-faced-cat"></a>
        <a href="/cuddles" ><img src="/images/cuddles.jpg" alt="cuddles"></a>
    </body>
</html>